<%- include('./layout/Header') %>

    <div class="home-container">
        <div class="header">
            <nav>
                <img src="./images/logo.png" alt="Logo" id="logo" />
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/menu">Menu</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </nav>
        </div>

        <h1 class="home-intro">Welcome to <span class="special-text">Musembi's</span> Kitchen</h1>
        <div class="home-btn">
            <button class="btn2">Take a look at our products</button>
        </div>

    </div>

    <%- include('./layout/Footer') %>