<%- include('./layout/Header') %>
    <div class="menu-container">
        <div class="header">
            <nav>
                <img src="./images/logo.png" alt="Logo" id="logo" />
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/menu">Menu</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </nav>
        </div>

        <div class="banner-img">
            <div class="overlay">
                <h1 class="special-text">MENU</h1>
            </div>
        </div>

        <div class="container">
            <h3>Explore different flavors</h3>

            <div class="foods">
                <div class="box">
                    <div class="food-img">
                        <img src="/images/burgers/burger3.jpg" class="image"/>
                    </div>
                    <h4>Burger</h4>
                    <p>One chicken breast with grilled onions</p>
                </div>
                <div class="box">
                    <div class="food-img">
                        <img src="/images/burgers/burger2.jpg" class="image"/>
                    </div>
                    <h4>Burger</h4>
                    <p>One chicken breast with grilled onions</p>
                </div>
                <div class="box">
                    <div class="food-img">
                        <img src="/images/burgers/burger5.jpg" class="image"/>
                    </div>
                    <h4>Burger</h4>
                    <p>One chicken breast with grilled onions</p>
                </div>
                <div class="box">
                    <div class="food-img">
                        <img src="/images/burgers/burger1.jpg" class="image"/>
                    </div>
                    <h4>Burger</h4>
                    <p>One chicken breast with grilled onions</p>
                </div>
            </div>

            <div class="foods">
                <div class="box">
                    <div class="food-img">
                        <img src="/images/meals/meal2.jpg" class="image"/>
                    </div>
                    <h4>Burger</h4>
                    <p>One chicken breast with grilled onions</p>
                </div>
                <div class="box">
                    <div class="food-img">
                        <img src="/images/salads/salad1.jpg" class="image"/>
                    </div>
                    <h4>Burger</h4>
                    <p>One chicken breast with grilled onions</p>
                </div>
                <div class="box">
                    <div class="food-img">
                        <img src="/images/meals/meal8.jpg" class="image"/>
                    </div>
                    <h4>Burger</h4>
                    <p>One chicken breast with grilled onions</p>
                </div>
                <div class="box">
                    <div class="food-img">
                        <img src="/images/salads/salad4.jpg" class="image"/>
                    </div>
                    <h4>Burger</h4>
                    <p>One chicken breast with grilled onions</p>
                </div>
            </div>

            <div class="foods">
                <div class="box">
                    <div class="food-img">
                        <img src="/images/cocktails/drink1.jpg" class="image"/>
                    </div>
                    <h4>Burger</h4>
                    <p>One chicken breast with grilled onions</p>
                </div>
                <div class="box">
                    <div class="food-img">
                        <img src="/images/cocktails/drink2.jpg" class="image"/>
                    </div>
                    <h4>Burger</h4>
                    <p>One chicken breast with grilled onions</p>
                </div>
                <div class="box">
                    <div class="food-img">
                        <img src="/images/cocktails/drink3.jpg" class="image"/>
                    </div>
                    <h4>Burger</h4>
                    <p>One chicken breast with grilled onions</p>
                </div>
                <div class="box">
                    <div class="food-img">
                        <img src="/images/cocktails/drink4.jpg" class="image"/>
                    </div>
                    <h4>Burger</h4>
                    <p>One chicken breast with grilled onions</p>
                </div>
            </div>
        </div>

        <%- include('./layout/Footer') %>